.landingCont {
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

.landingH1 {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 5vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    margin-bottom: 10px;
  }
.landingH2 {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    margin-top: 10px;
}
  
  @keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  
/* CSS BOTON */

.landingButton {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform:uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #dbdbe0;
  background: #ff3e1e;
  background: linear-gradient(90deg, #ff3e1e, #ff3e1e 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ff3e1e;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: 80px;
}

.landingButton::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff3e1e;
  box-shadow: 0 0 60px #ff3e1e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.landingButton:hover, .landingButton:focus {
  color: #dbdbe0;
  transform: translateY(-6px);
}

.landingButton:hover::before, .landingButton:focus::before {
  opacity: 1;
}

.landingButton::after {
  content: '';
  width: 30px; 
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ff3e1e;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.landingButton:hover::after, .landingButton:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
